<!DOCTYPE html>
<html>
	<head>
		<!-- head definitions go here -->
	</head>
	<body style="margin:0 15%">	
		<h1 style="text-align: center; font-size: 2vw;">Tribute to Sarai Alvarez Bolanos</h1>
		<div id="container" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
			<img src="{{imgs_url}}/sarai-1.jpg" style="width: 480px; height: 270px; padding: 5px; object-fit: cover;">
			<img src="{{imgs_url}}/sarai-2.jpg" style="width: 270px; height: 400px; padding: 5px; object-fit: cover;">
			<img src="{{imgs_url}}/sarai-3.jpg" style="width: 270px; height: 400px; padding: 5px; object-fit: cover;">
			<img src="{{imgs_url}}/sarai-4.jpg" style="width: 480px; height: 270px; padding: 5px; object-fit: cover;">
			<img src="{{imgs_url}}/sarai-5.jpg" style="width: 480px; height: 270px; padding: 5px; object-fit: cover;">
			<img src="{{imgs_url}}/sarai-6.jpg" style="width: 480px; height: 270px; padding: 5px; object-fit: cover;">
		</div>
		<p style="text-align: center; font-size: 3em;">
			<!--TODO: write about Sarai.-->			
		</p>
	</body>
</html>
